body {
  background: black;
  color: white;
  text-align: center;
}

.btn {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.yes {
  border: 3px #0a0 solid;
  border-bottom: 3px #040 solid;
  border-right: 3px #040 solid;
  background: #080;
}

.no {
  border: 3px #c00 solid;
  border-bottom: 3px #600 solid;
  border-right: 3px #600 solid;
  background: #a00;
}

.done {
  border: 3px #00d solid;
  border-bottom: 3px #008 solid;
  border-right: 3px #008 solid;
  background: #00b;
}

.yes, .no, .done {
  font-size: 20pt;
  display: inline-block;
}


a {
  color: white;
  text-decoration: none;
}